body {
    background-image: url(../images/000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1#roof {
    background-color: DarkSlateGray;
    font-size: 300%;
    color: white;
    width: 102%;
    position: relative;
    top: -50px;
    left: -10px;
}

div.questions {
   position:relative;
   left:22%;
   top:auto;
}

form{
	font-size:180%;
	height:200px;
	}
p.question_description{
	height:20px;
	}
input.question_choice{
	height:18px;
	width:18px;
	}
div#timeri {
    position: fixed;
    bottom: 0%;
    right: 0%;
}

div#timert {
    position: fixed;
    bottom: -2%;
    right: 4%;
}

div#submitter {
    position: fixed;
    bottom: 7%;
    right: 0%;
}

div#readnotice_welcome {
    position: absolute;
    top: 160px;
    left: 25%;
}

div#readnotice_title {
    position: absolute;
    top: 260px;
    left: 45%;
}

div#readnotice_contain1 {
    position: absolute;
    top: 400px;
    left: 30%;
}

div#readnotice_contain2 {
    position: absolute;
    top: 450px;
    left: 30%;
}

div#startbutton {
    position: absolute;
    top: 650px;
    left: 40%;
}

div#downloadbutton {
    position: absolute;
    top: 720px;
    left: 40%;
}

div#exitbutton {
    position: absolute;
    top: 790px;
    left: 40%;
}
